@media (min-width: 380px) {
  .container {
    width: 33rem;
  }

  .tapsi-plus__caption {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .contact-way__location {
    margin: 0 -2.2px 1.5rem 0;
  }
  .contact-way__mail {
    margin: 0 -4px 1.5rem 0;
  }
}

@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
  .header {
    background: url("../assets/img/banner\(1\).png");
    background-position: center;
    background-size: cover;
    min-height: 40rem;
  }
  .contact-way__location {
    margin: 0 -10px 1.5rem 0;
  }
  .tapsi-plus__title {
    font-size: 2.8rem;
  }
  .contact-way__mail {
    margin: 0 -4px 1.5rem 0;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }

  .banner__img {
    display: block;
  }
  .banner {
    display: flex;
    justify-content: flex-end;
  }
  .download__box {
    margin-right: 5rem;
    width: 35rem;
  }
  .tapsi-services {
    margin-top: 35rem;
  }
  .tapsi-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-template-areas:
      "tapsi-plus tapsi-plus__img"
      "tapsi-business tapsi-business__img"
      "tapsi-validity__img tapsi-validity";
  }

  .tapsi-plus__caption {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .taxt-plan__title {
    font-family: var(--primary-font-md);
    font-size: 3.2rem;
    margin: 5rem 0;
  }
  .contact-way__location {
    margin: 0 -4px 1.5rem 0;
  }
  .servicesـtype svg {
    width: 9rem;
    height: 9rem;
  }
  .servicesـtype span {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
  .nav-btn {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .download__box {
    min-height: 33rem;
    width: 44rem;
  }
  .download__box--link {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 4rem;
  }
  .download__box--title {
    color: var(--secondary-color);
    font-family: var(--primary-font-md);
    font-weight: 500;
    font-size: 5rem;
  }
  .download__box--text {
    color: var(--secondary-color);
    font-family: var(--primary-font-md);
    font-weight: 500;
    font-size: 2.4rem;
  }
  .download__box--title {
    padding-right: 3rem;
  }
  .download__box--text {
    margin: 1rem 3rem 3rem 0;
  }
  .nav-mobile-menu {
    display: none;
  }
  .contact-way__location {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-way__location > span {
    text-align: center;
  }
  .contact-way__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-way__mail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-way__holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-way__location svg {
    width: 35px;
    height: 35px;
  }
  .contact-way__phone svg {
    width: 35px;
    height: 35px;
  }
  .contact-way__mail svg {
    width: 35px;
    height: 35px;
  }
  .form--btn {
    margin: 5.5rem auto 1rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
  .contact {
    grid-template-columns: 40% 60%;
  }
  .form--btn {
    margin: 13.5rem auto 1rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
